github "robb/Cartography"  == 1.0.1
github "onevcat/Kingfisher" == 3.2.1
github "Hearst-DD/ObjectMapper" == 2.2.1
github "tristanhimmelman/AlamofireObjectMapper" == 4.0.1
github "Alamofire/Alamofire" == 4.2.0
